h1{
   text-align: center;
    color: #000000;
}
body{
    font-family: cursive;
    background-color: #c5c5bc;
    //font-weight: bold;
}

header{
    font-family: monospace;
    background-color: #F0F8FF;
    //font-weight: bold;
}

.highlighter{
font-weight: bold;
}
.position{
text-align: right;
}
header{
  font-family: monospace;
  background-color: #F5F5DC;
  font-weight: bold;
}
footer{
    text-align: center;
    font-weight: bold;
  background-color: #7e7d80;
color: #decdd8;
}